*~
*pyc
*.DS_Store
*.egg
*.eggs
*.egg-info
*.log
*.pyc
*.sass-cache
*build/
*dat
.env
venv
.pytest_cache/
.ipynb_checkpoints
.tox
.mypy_cache/
dist/
pip-wheel-metadata
server/
mongodb/
.cache/
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*npy
*#
/config.json
*log.json
.coverage
.coveralls.yml
.idea/
.venv/
*.iml
out/
.vscode/
.DS_Store
examples/moodbot/py3/
.python-version
tokens.dat
graph.png
graph.html
story_graph.html
story_graph.dot
debug.md
failed_stories.md
errors.json
events.db
events.db-shm
events.db-wal
rasa.db
rasa.db-shm
rasa.db-wal
*.swp
*.coverage*
env
.dir-locals.el
.history
rasa/segment_key
rasa/keys
/results/